[Unit]
Description=Run generate_index script to create index.html
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/var/lib/webgen/bin/generate_index

[Install]
WantedBy=multi-user.target
